<section id="about" class="about">
  <h2>About</h2>
  <p>Serial Entrepreneur & Founder at Scalabl (People Capital), present in Argentina, Mexico, and expanding to UK, UAE, India, Hong Kong, Saudi Arabia and Portugal in 2018.</p>

  <p>Passionate about business and entrepreneurship and a people person. Always optimistic and relentless, with a high regard for growth and learning.</p>
    
  <p>Entrepreneur since the age of 13 (when I founded Relativo) I am currently Global CEO at Scalabl and run Boards in more than 40 companies I've co-founded in different industries. I regularly coach and train entrepreneurs to achieve their goals in our Startup Academy.</p>
    
  <p>For more than 10 years I have also been an "Intrapreneur", building and leading Regional Marketing and Commercial Planning divisions for multinational corporations in Latin America, Middle East and Africa.</p>
    
  <p>I have studies in General Management (Harvard Business School & Kellogg School of Management), MBA (UCEMA), Master in Economics (UDESA), Entrepreneurship and Innovation Certificate (Stanford Graduate Business School), Product and Industry Platforms (MIT), Executive Program (Singularity University) and other postgraduate programs (Capital Markets, Marketing, Negotiation, Communication, Leadership).</p>
    
  <p>I strongly believe in Networking and collaboration. Please feel free to contact me or add me to your network if I can help in any way.</p>
    
  <p>I also invite you to follow me on Twitter: <a href="http://www.twitter.com/fransantolo" target="_blank">@Fransantolo</a> where I post about Entrepreneurship, Startups, Methodologies, Books, and fundraising and Instagram <a href="http://www.instagram.com/santolofrancisco" target="_blank">@SantoloFrancisco</a> where I also share our Global Journey.</p>
</section>
